$color-page-background: #1f1f1f;
$color-page: #d5d5d5;

$light-gray: #d5d5d5;
$color-background: #242424;
$color-header-background: #333;

$color-block-background: #2d2d2d;
$color-block: #8c8b8b;

$color-dark-gray: #101010;
