<mat-drawer-container class="content" [class.light-theme]="theme === 'light'">
  <mat-drawer #drawer class="navigation">
    <lab-header></lab-header>
  </mat-drawer>
  <div class="outlet">
    <div class="mat-elevation-z12">
      <button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <button type="button" mat-button (click)="toggleTheme()">
        <mat-icon>toggle</mat-icon>
      </button>
    </div>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
