<div class="search-bar">
  <mat-form-field>
    <input (input)="applyFilter($event.target.value)" matInput placeholder="Search">
  </mat-form-field>
  <mat-paginator [class.hidden]="!pagination" [pageSizeOptions]="entriesPerPage" showFirstLastButtons></mat-paginator>
</div>

<table [dataSource]="data" class="mat-elevation-z8" mat-table matSort>

  <ng-template [ngForOf]="displayedColumns" let-column ngFor>
    <ng-container matColumnDef="{{column}}">
      <div *ngIf="sortable">
        <th *matHeaderCellDef [innerHTML]="column | titlecase" mat-header-cell mat-sort-header></th>
      </div>
      <div *ngIf="!sortable">
        <th *matHeaderCellDef [innerHTML]="column | titlecase" mat-header-cell></th>
      </div>
      <td *matCellDef="let element" [innerHTML]="element[column] | convertToLink: 'visit' | highlightSearch: filterText"
          mat-cell></td>
    </ng-container>
  </ng-template>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>
