@import '../../../../assets/scss/theme/colors';

.search-bar {
  display: flex;
  justify-content: space-between;
  background: $color-block-background;
  padding: 0 16px 0 24px;
}

.hidden {
  opacity: 0;
}
